<div class="container">
  <h1>{{room.name}}</h1>
  <hr class="my-4" />
  <p><span><img src="{{room.imageUrl}}" alt="{{room.name}}s profile picture"></span>
</p>
  <p>{{room.description}}</p>
  
  <div id="map"></div>
  <hr class="my-4" />
  <a href="/rooms">Return</a>
  <script> idRoom = '{{room._id}}';</script>

</div>